<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">	

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.spring.sms.goods.dto.GoodsDto"     alias="GoodsDto" />
		<typeAlias type="com.spring.sms.member.dto.MemberDto"   alias="MemberDto" />
		<typeAlias type="com.spring.sms.order.dto.OrderDto"     alias="OrderDto" />
		<typeAlias type="com.spring.sms.board.dto.BoardDto"     alias="BoardDto" />
		<typeAlias type="com.spring.sms.cart.dto.CartDto"     alias="CartDto" />
	</typeAliases>
	
	

</configuration>